.swagger-ui .model-box {
    /*display: block*/
}
.swagger-ui .parameters-col_description {
    width: auto;
}
.swagger-ui .topbar {
    background-color: #89bf04;
}
.swagger-ui .response-col_description {
    width: auto;
}
/**
    虽然这样可以隐藏掉swagger-ui的url，但是swagger-ui的url还是会被爬虫抓取到
 */
.swagger-ui .info a.link:has(> span.url) {
    /*display: none;*/
}
